name: Build Armbian image

on:
  watch:
    types: [started]

jobs:
  build:
    runs-on: ubuntu-latest
    
  steps:
   - name: Build Armbian image
     run: |
      git clone --depth 1 https://github.com/yunsur/phicomm-n1.git /opt/phicomm-n1
      cd /opt/phicomm-n1
      sudo ./compile.sh BOARD=arm-64 BRANCH=current RELEASE=bullseye BUILD_MINIMAL=yes BUILD_DESKTOP=no KERNEL_ONLY=no KERNEL_CONFIGURE=no COMPRESS_OUTPUTIMAGE=sha,img
      
   - name: xz compress
     run: |
        XZ_OPT='xz -9ekvT0' tar -Jcvf /opt/phicomm-n1/output/images.tar.xz /opt/phicomm-n1/output/images/
     
   - name: Upload image
     uses: actions/upload-artifact@master
     with:
       name: image
       path: /opt/phicomm-n1/output/*.tar.xz